.App {
  text-align: center;
  background-color: #1A1B21;
  max-width: 350px;
  margin: 2em;
  border-radius: 10px;
  /* font-family: 'Inter'; */
}

/* Header component */

.headshot {
  display: block;
  width: 100%;
  height: 350px;
  background-image: url('./img/headshot.jpeg');
  background-size: 200%;
  background-position-x: 55%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 2em;
}

.name {
  color: #fff;
  padding: 0;
  margin: 0 0 .1em;
}

.title {
  color: #F3BF99;
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 1em;
}

.website {
  color: #F5F5F5;
  text-decoration: none;
  font-size: .9em;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 2.5em;
}

.contact-links > a {
  text-decoration: none;
  display: block;
  padding: .5em 1.25em;
  font-size: 1.1em;
  /* padding: 9px 13px; */
  border-radius: 6px;
}

.contact-links__icon {
  margin-right: .65em;
}

.contact-link__email {
  background: #fff;
  color: #374151;
}
.contact-link__linked {
  background: #5093E2;
  color: #fff;
}


/* About component */

.info {
  text-align: left;
  color: #f5f5f5;
  padding: 0 2.5em;
  margin-top: 2.5em;
}

.info-header {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.info-text {
  color: #dcdcdc;
  font-size: .9em;
  margin: 0;
  line-height: 1.4em;
}


/* Footer component */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 3.5em;
  background: #161619;
  border-radius: 0 0 10px 10px;
  margin-top: 3rem;
}

.social-link {
  color: #918E9B;
  font-size: 2em;
}